<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script defer src="/js/bootstrap-5.2.0.js"></script>
</head>
<body>
<div th:replace="~{navbar::navbar}"></div>
<div class="container text-center my-2">
    <table class="table table-bordered border-primary my-2">
        <tr>
            <td th:text="#{msg.user.id}"></td>
            <td th:text="${user.id}"></td>
        <tr>
        <tr>
            <td th:text="#{msg.user.firstname}"></td>
            <td th:text="${user.personalInfo.firstname}"></td>
        <tr>
        <tr>
            <td th:text="#{msg.user.lastname}"></td>
            <td th:text="${user.personalInfo.lastname}"></td>
        <tr>
        <tr>
            <td th:text="#{msg.user.patronymic}"></td>
            <td th:text="${user.personalInfo.patronymic}"></td>
        <tr>
        <tr>
            <td th:text="#{msg.user.email}"></td>
            <td th:text="${user.personalInfo.email}"></td>
        <tr>
    </table>
</div>
</body>
</html>
